/* -----  Examples ------ */

@import url('https://fonts.googleapis.com/css?family=Kreon&display=swap');

/* This will align images to the left */

#printfriendly img{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	text-align: center;
}

/* Changes font family and size */

#printfriendly {
	font-family: 'Kreon', Georgia, Times New Roman, 'droid serif', serif;
	color: red;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #fff;
	font-size: 1em;	
}

/* Changes header color */
/* H1 is the Header */
#printfriendly h1 {
	color: red;
	font-family: 'Kreon', Georgia, Times New Roman, 'droid serif', serif;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #fff; !important	
	border: 0px; !important
}

/* Subtitles */
 #printfriendly h2 { 
	color: black;
	font-family: 'Kreon', Georgia, Times New Roman, 'droid serif', serif;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	border-bottom: 0px solid #fff;	
}

#printfriendly h3 { 
	font-family: 'Kreon', Georgia, Times New Roman, 'droid serif', serif;
	color: red;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 0px solid #fff;	
}

#printfriendly h4 {
	font-family: 'Kreon', Georgia, Times New Roman, 'droid serif', serif;
	color: red;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 0px solid #fff;	
}

#printfriendly hr {
	border-style: none;
	border: 0px;
}


#printfriendly #pf-src { display:none; 
	border: 0px;
}


#pf-body .pf-caption,
#pf-body .wp-caption {
    float:none ;
    border:0px ;
    text-align:center;
  }

#pf-body {
	border: 0px;
}

#printfriendly #pf-body #pf-title tr {
	border-bottom: 1px solid #fff;
	}

#printfriendly #pf-title tr {
	border-bottom: 1px solid #fff;
}

#printfriendly #pf-title {
	border: 0px;
}

tr {
	border-bottom: 1px solid #fff;
}

#printfriendly tr {
	border-bottom: 1px solid #fff;	
}

#pf-author, .pf-author {
	display: none;
	border: 0px;
}

#printfriendly table tr {
	border-bottom: 1px solid #fff;
}

#printfriendly table {
	border: 0px; !important
}

@media print  {
	body { -webkit-print-color-adjust: exact;}
	 }