/* -----  Examples ------ */


/* This will align images to the left */

#printfriendly img{
	display: block; !important
	margin-left: auto; !important
	margin-right: auto; !important
	margin-top: 12px; !important
}

/* Changes font family and size */

#printfriendly {
	font-family: Georgia, Times New Roman, 'droid serif', serif; !important
	color: black; !important
	text-decoration: none; !important
	text-align: center; !important
}

/* Changes header color */

#printfriendly h1 {
	color: red; !important
	text-decoration: none; !important
	text-align: center; !important
}

 #printfriendly h2 { 
	color: red; !important
	text-align: center; !important
	text-decoration: none; !important
}

#printfriendly h3 { 
	font-family: Georgia, Times New Roman, 'droid serif', serif; !important
	color: black; !important
	text-align: center; !important
	text-decoration: none; !important
}

#printfriendly h4 {
	font-family: Georgia, Times New Roman, 'droid serif', serif; !important
	color: red; !important
	text-align: center; !important
	text-decoration: none; !important
}

.printfriendly {
	display: block; !important
	color: black; !important
	text-decoration: none; !important
	text-align: center; !important
}

hr {
	border-style: none; !important
	border: 0px; !important
}